.column {
    display: flex;
    flex-direction: column;
}

.quote {
    align-items: center
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 30px;
    height: auto;
    box-shadow: 5px 5px 10px 1px rgba(108, 122, 137, 1);
    border-radius: 10px
}

.card-image {
    border-radius: 10px
    flex: 1 1 0;
    width: 100%;
    height: auto;
}

.quote-title {
    flex: 1 1 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-body {
    flex: 1 1 auto;
    text-align: center;
}