
.card{
    width: 4px;
    margin: 10px;
    background-color: darkgrey;
    border:solid 1px;
    box-shadow: 0 2p 2px 0 rgba(0, 0, 0, 0.1);
}

.placeholder-for-image{
    width:400;
    height: 250;
    background-color: blue;
}